<h1> This is the listing page</h1>


<% @listings.each do |x| %>

  Name: <%= link_to "#{x.name}", listing_path(x), method: :get %> <br>
  Description: <%= x.description %><br>
  <p>City: <%= x.city %></p>
  Tags: <% x.tags.each do |b| %>
	<%= link_to "#{b.name}", "/listings/tags/" + b.id.to_s, methos: :get %>
	<% end %><br><br>
 

<% end %>