<h1>Reservations#show</h1>
<p>Find me in app/views/reservations/show.html.erb</p>

<h1> Congrats! You finalised your reservation</h1>

<p> Name: <%= @listing.name %></p>
<p> City: <%= @listing.city %></p>
<p> Check-in: <%= @check_in_date%></p>
<p> Check-out: <%= @check_out_date %></p>